
body {
    background: url(../images/theTube.jpeg) no-repeat fixed center;
    background-size: cover;
    position: relative;
}

table {
    margin: 0 auto;
}

#current-train-schedule {
    background-color: transparent;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.card {*/
/*border: none;*/
/*}*/

input {
    border: solid 1px;
    border-radius: 5px;
    width: 50%;
}

th {
    padding: 1rem;
    background-color: rgb(231,234,95,0.7);
}

td {
    padding: 1rem;
}
tr{
    background-color: rgb(151,136,101,0.4);
}

tr:nth-child(even) {
    background-color: rgb(151,136,101,0.2);
}
